#new_user
	%form{ :action => "/login", :method => "post"}
		%input{ placeholder: "Email: HeWhoIsFrequentlyNamed@hotgmail.com", :type => "text", :name => "email", :class => "text"}
		%input{ type: "Password: password", placeholder: "*****", :name => "password", :class => "password"}

		%input{:type => "submit", :value => "Submit", :class => "button"}